@page "/"
@using Eshop.Pages;
@inherits ProductBase

@if (Products == null)
{
    <h3> Products loading...</h3>
}else 
{
    <h3 class="mb-5">Products</h3>
    var productCount = Products.Count();
    @if (productCount > 0)
    {
        var groupedProductsByCategory = 

           
            @foreach( var prodGroup in groupedProductsByCategory)
            {
            @*<h4>@GetCategoryName(prodGroup) </h4>*@
                <h4>@prodGroup.FirstOrDefault(pg =>pg.CategoryId == prodGroup.Key).CategoryName</h4>
            <div class="row mt-3">
                <DisplayPoduct Products="@prodGroup"></DisplayPoduct>
            </div>
            <hr class="mb-3" />
            
           
      
        }

    }
}